<div class="container">
<h1>Editing Lecture</h1>

<%= render 'form', lecture: @lecture %>

<%= link_to ' Show', @lecture ,:style=> 'color:#FFFFFF;',:class=>"btn btn-success btn-sm glyphicon glyphicon-th-list" %>
<%= link_to ' Back', lectures_path ,:style=> 'color:#FFFFFF;',:class=>"btn btn-info btn-sm	glyphicon glyphicon-arrow-left" %>
</div>