<center><h2> So you’re thinking about joining <span style="color:red">Learn</span>?</h2></center>
<p>Awesome!<br>
We’re growing extremely quickly, and we’re excited to speak with you. Before we connect, you might want <br>
to know a bit more about us, our mission, our culture, our philosophies, and our team.<br>
So, without further ado…<br>
</p>
<b style="font-size:15px">OUR MISSION:</b>
<p>To improve lives through learning.<br>
We’re a long way from achieving this ?. That’s why we need your help! Today* we have more than 15 <br>
 million students in 190+ countries and 80+ languages learning everything from programming to <br>
 design to photography to cake decorating and more.
 <br><br>
 That’s amazing, but we’re just getting started. We didn’t launch Learn to help 15 million people. We <br>
 launched Learn to help hundreds of millions of people in all corners of the world.
</p>
<b style="font-size:15px">OUR Culture:</b>
<p>We’re a growing team that’s focused on building a truly great culture. We know we’re only at the beginning, <br>
but we try to live our values in the way we work and find people who share our ideals. <br>
It all starts with the phrase –> <b style="font-size:15px">LET’S GO!</b><br>
 design to photography to cake decorating and more.
 <br><br>
 Let’s go help 100 million people learn anything they can imagine. Let’s go get 100,000 instructors to share <br>
 their knowledge with the world. Let’s go get 10,000 organizations to change the way their employees learn. <br>
 Let’s go make it so anyone can improve their life through learning.
</p>


