<div class="container">
<h1>New Course</h1>

<%= render 'form', course: @course %>

<%= link_to ' Back', courses_path ,:style=> 'color:#FFFFFF;',:class=>"btn btn-info btn-sm	glyphicon glyphicon-arrow-left" %>
</div>